/* style.css */

.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

/* Hover effect */
.button:hover {
    -fx-background-color: #1E88E5;
    -fx-cursor: hand;
}

/* Selected effect */
.button:pressed {
    -fx-background-color: #1565C0;
}

.pie-chart {
    -fx-background-color: transparent;
}
.bar-chart {
    -fx-background-color: transparent;
}
